/* -- GENERAL -- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url("gradient-bg.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
}

:root {
    --accent: #557fb4;
    --main-1: #ffffff79;
    --main-2: #ffffffa1;
    --bg: #0000002d;
}

.container {
    height: 100vh;

    display: grid;
    grid-template-columns: max(165px, 15%) auto;
    grid-template-rows: 1fr 6fr;
}

.top-nav, 
.side-nav, 
.main {
    padding: 25px 35px;
}

button,
input {
    border: none;
}

/* -- SIDE NAV -- */
.side-nav {
    background-color: #ffffffd2;
    grid-row: 1 / -1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;

    margin-top: 5px;
}

.fa {
    margin-right: 15px;
}

.logo {
    font-family: "Silkscreen", sans-serif;
    font-size: 18px;
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    cursor: pointer;
    transform: translateX(10px);
}

.side-nav-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;

    font-size: 14px;
}

.side-nav-menu li {
    list-style: none;
}

.side-nav-menu li:hover{
    cursor: pointer;
}

.side-nav-menu i {
    color: #253d5ac4;
}


/* -- TOP NAV -- */
.top-nav {
    /* Frosted glass effect from https://css.glass */
    background: var(--main-2);
    backdrop-filter: blur(6.4px);
}

.top-nav > div {
    display: flex;
    justify-content: space-between;
}

.top-nav > div:first-child {
    margin-bottom: 10px;
}

.search, 
.profile, 
.greeting, 
.project-btns {
    display: flex;
    gap: 10px;
    align-items: center;
}

.search {
    width: 100%;
}

.search button {
    background: none;
    cursor: pointer;
}

input[type="search"] {
    padding: 5px 15px;
    width: max(210px, 50%);
    border-radius: 20px;
    box-shadow: 2px 1px 1px .5px #00000023 inset;
    font-size: 12px;
}

input[type="search"]:focus {
    outline: none;
    border: 0.5px solid var(--accent);
}


.profile img {
    border-radius: 50%;
    border: solid 1.5px var(--accent);
}

.profile {
    width: 160px;
    text-align: right;
}

.greeting p:first-child {
    font-size: 12px;
    font-weight: bold;
}

.greeting p:last-child {
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
}

.project-btns {
    align-items: end;
}

.project-btns button {
    padding: 5px 15px;
    background-color: var(--accent);
    border-radius: 20px;

    color: #fff;
    font-weight: bold;

    cursor: pointer;
}

/* -- MAIN -- */
.main {
    display: grid;
    grid-template-columns: max(200px, 60%) 1fr;
    grid-auto-rows: auto 1fr;
    gap: 10px;

    box-shadow: 1px 0 3px 3px var(--bg) inset;
}

.main h2 {
    font-size: 16px;
    margin: 10px 0 5px;
}

.projects {
    grid-row: span 2;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}

.card {
    padding: 20px 15px;
    border-radius: 5px;

    /* Frosted glass effect from https://css.glass */
    background: var(--main-1);
    box-shadow: 0 4px 20px #00000018;
    backdrop-filter: blur(6.4px);

    transition: box-shadow 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    cursor: pointer;

    box-shadow: 2px 2px 4px 2px #0000002a;
    transform: translateY(-2px);
}

.hearted {
    border-left: 3px solid var(--accent);
}

.fa-heart {
    color: var(--accent);
}

.card h3 {
    font-size: 16px;
}

.card-item h4 {
    font-size: 12px;
    margin-bottom: 5px;
}

.card-item p {
    font-size: 12px;
}

.project-container .card {
    height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-container .card > div {
    margin-top: 10px;
    text-align: right;

    align-self: end;
}

.announcements .card,
.trends .card,
.trends .card-item {
    display: flex;
    gap: 5px;
}

.announcements .card,
.trends .card {
    flex-direction: column;
}

.announcements .card-item:nth-child(-n + 2) {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--bg);
}

.announcements a {
    text-decoration: none;
    color: black;
}

.trends .card-item {
    align-items: center;
    gap: 10px;
}

.trends .card-item img {
    border-radius: 50%;
    border: 1px solid var(--bg);
}

.trends .card-item p:first-child {
    font-weight: bold;
    margin: 5px 0 2.5px;
}