* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent: #75a5db;
    --main-1: #ffd6e7;
    --main-2: #e0e0e0;
}

.container {
    height: 100vh;

    display: grid;
    grid-template-columns: auto 5fr;
    grid-template-rows: 1fr 6fr;
}

/* -- SIDE NAV -- */
.side-nav {
    background-color: var(--accent);
    grid-row: 1 / -1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.logo, .side-nav-menu {
    border: solid 1px black; /* Remove from final */

    margin: 10px;
}

.logo > img, .fa {
    margin-right: 5px;
}

.side-nav-menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* -- TOP NAV -- */
.top-nav {
    background-color: var(--main-1);
    padding: 10px 20px;
}

.top-nav div {
    border: solid 1px black; /* Remove later */
}

.top-nav > div {
    display: flex;
    justify-content: space-between;
}

.search, 
.profile, 
.greeting, 
.project-btns {
    display: flex;
    gap: 10px;
    align-items: center;
}

.greeting p:last-child {
    margin-top: 5px;
}

.project-btns button {
    padding: 5px 10px;
}
/* -- CONTENT -- */
.main {
    background-color: var(--main-2);
}