/* -- GENERAL -- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
}

:root {
    --accent: #507bb3;
    --main-1: #ffd6e7;
    --main-2: #fff;
    --bg: #e0e0e0;
}

.container {
    height: 100vh;

    display: grid;
    grid-template-columns: auto 5fr;
    grid-template-rows: 1fr 6fr;
}

.top-nav, 
.side-nav, 
.main {
    padding: 10px 20px;
}

/* -- SIDE NAV -- */
.side-nav {
    background-color: var(--accent);
    grid-row: 1 / -1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.logo, 
.side-nav-menu {
    border: solid 1px black; /* Remove from final */
    margin-bottom: 10px;
}

.logo > img, .fa {
    margin-right: 5px;
}

.side-nav-menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* -- TOP NAV -- */
.top-nav {
    background-color: var(--main-1);
}

.top-nav div {
    border: solid 1px black; /* Remove later */
}

.top-nav > div {
    display: flex;
    justify-content: space-between;
}

.search, 
.profile, 
.greeting, 
.project-btns {
    display: flex;
    gap: 10px;
    align-items: center;
}

.greeting p:last-child {
    margin-top: 5px;
}

.project-btns button {
    padding: 5px 10px;
}

/* -- MAIN -- */
.main {
    background-image: url("gradient-bg.avif");
    background-size: cover;

    display: grid;
    grid-template-columns: max(200px, 60%) 1fr;
    gap: 10px;
}

.main h2 {
    font-size: 16px;
    margin: 10px 0 5px;
}

.projects {
    grid-row: span 2;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}

.card {
    padding: 20px 15px;
    border-radius: 5px;

    /* Frosted glass effect from https://css.glass */
    background: #ffffff4a;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
}

.hearted {
    border-left: 3px solid var(--accent);
}

.fa-heart {
    color: var(--accent);
}

.card h3 {
    font-size: 16px;
}

.card-item h4 {
    font-size: 12px;
    margin-bottom: 5px;
}

.card-item p {
    font-size: 12px;
}

.project-container .card {
    height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-container .card > div {
    margin-top: 10px;
    text-align: right;

    align-self: end;
}

.announcements .card,
.trends .card,
.trends .card-item {
    display: flex;
    gap: 5px;
}

.announcements .card,
.trends .card {
    flex-direction: column;
}

.announcements .card-item:nth-child(-n + 2) {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--bg);
}

.announcements a {
    text-decoration: none;
    color: black;
}

.trends .card-item {
    align-items: center;
    gap: 10px;
}

.trends .card-item img {
    border-radius: 50%;
    border: 1px solid var(--bg);
}

.trends .card-item p:first-child {
    font-weight: bold;
    margin: 5px 0 2.5px;
}